.Game {
  margin: auto;
  text-align: center;
}

#world {
  width: 800px;
  height: 600px;
  position: absolute;
}

.canvas, canvas {
  width: 800px;
  height: 600px;
  border-radius: 4px;
  background-color: #f8f8f8;
  color: #2e2b44;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

#debug {
  margin-bottom: 1rem;
}

.info {
  text-align: center;
  margin: 1rem 0;
}

button {
  background-color: transparent;
  border: solid 2px #2e2b44;
  color: #2e2b44;
  border-radius: 4px;
  font: 18px sans-serif;
  text-transform: uppercase;
  padding: .5rem 1rem;
  cursor: pointer;
  margin: 0 auto;
}

button:hover, button:focus {
  background-color: rgba(0,0,0,0.1);
}
